@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

:root {
  --white: #fff;
  --dark: #212529;
  --dark-mode: #0c0c0d;
  --gray: #5b5b5b;
  --yellow: #ffc200;
  --violet: #474559;
  --dark-title: #353535;
  --links-color: rgba(0, 0, 0, .5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Maven Pro", sans-serif;
}

body.dark-mode {
  background-color: var(--dark-mode);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
  outline: none;
  border: none;
}

button.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px 25px;
  cursor: pointer;
  display: none;
  z-index: 9999;
  background-color: var(--violet);
}

button.scrollToTop svg {
  width: 20px;
}

button.scrollToTop svg path {
  fill: var(--white);
}

button.show {
  display: block;
}

button:hover {
  transform: scale(1.1);
}

body.dark-mode button.scrollToTop {
  background-color: var(--white);
}

body.dark-mode button.scrollToTop svg path {
  fill: var(--violet);
}

/* Responsive Media Queries */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* footer styles */

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
  border-top: 1px solid #eee;
  position: relative;
}

footer p {
  padding: 30px 10px;
}

body.dark-mode footer {
  color: var(--white);
  border-top: 0.5px solid #5d5d5d;
}

@media screen and (max-width: 700px) {
  footer p {
    font-size: 13px;
  }
}